### 6.5.2 create heatmaps for weather params
prepare: import the libs and create a df

In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kerman,IR,2022-08-02 23:31:46,30.2832,57.0788,71.46,28,0,9.22
1,1,Mount Gambier,AU,2022-08-02 23:31:47,-37.8333,140.7667,53.51,87,75,17.27
2,2,Barrow,US,2022-08-02 23:28:57,71.2906,-156.7887,42.82,81,0,10.36
3,3,Dzilam Gonzalez,MX,2022-08-02 23:31:47,21.2833,-88.9333,82.89,79,79,10.67
4,4,Bengkulu,ID,2022-08-02 23:31:48,-3.8004,102.2655,74.53,90,64,4.00

In [3]:
# get the data types for a df
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

#### Create a Maximum Temperature Heatmap
tell gmaps to use the API key

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

### create the heatmap for MAX temps (build the parts)
__NOTES RE #2:__ since google heatmaps dont plot negative # (below zero temps), use a `For` loop and create a new list of that only contains temps >= zero.

OR use list comprehension: 
[max(temp, 0) for temp in max_temp]

### adujst zoom, intensity, and point radius
__NOTES RE #3:__ 
- add geographic center and zoom level so only one map shows
`fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)`
- adjust dissipation, better gradient variance, and point radius
`heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)`

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))
    
    
# 3. Assign the figure variable to the gmaps.figure() attribute.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)


# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### create a percent humidity heat map

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

refactor humidity code for cloudiness
1. update cloud df call
2. update weights  in heat_layer

In [16]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a wind speed heatmap

In [18]:
# Heatmap for wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### 6.5.3 vacation criteria
prompt the user to enter the min/max temp as floating-point decimal.
- use the `input()` statement to prompt a user to enter information. To convert the input to a floating-point decimal number, wrap the `input()` statement with the `float()` method, like this: `float(input())`.

create a new DataFrame with the cities that meet the customer's criteria.
-  use the `loc[]` method on the current DF to create a new DF. Inside the brackets, add the conditional filter.

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kerman,IR,2022-08-02 23:31:46,30.2832,57.0788,71.46,28,0,9.22
4,4,Bengkulu,ID,2022-08-02 23:31:48,-3.8004,102.2655,74.53,90,64,4.00
7,7,Atuona,PF,2022-08-02 23:28:46,-9.8000,-139.0333,77.31,76,9,14.58
9,9,Benoy,TD,2022-08-02 23:31:49,8.9833,16.3199,70.72,94,100,4.65
10,10,Jamestown,US,2022-08-02 23:31:50,42.0970,-79.2353,74.05,47,100,6.91
11,11,Airai,TL,2022-08-02 23:31:34,-8.9266,125.4092,66.52,42,64,2.37
14,14,Korla,CN,2022-08-02 23:31:50,41.7597,86.1469,75.22,45,1,3.53
15,15,Los Llanos De Aridane,ES,2022-08-02 23:31:51,28.6585,-17.9182,67.75,83,20,18.41
16,16,Georgetown,MY,2022-08-02 23:30:07,5.4112,100.3354,78.89,93,40,9.22
18,18,Taonan,CN,2022-08-02 23:31:52,45.3333,122.7833,75.85,74,100,7.74

In [25]:
#check for null values 
preferred_cities_df.count()
preferred_cities_df.isnull().sum()
preferred_cities_df.notnull().sum()

City_ID       246
City          246
Country       246
Date          246
Lat           246
Lng           246
Max Temp      246
Humidity      246
Cloudiness    246
Wind Speed    246
dtype: int64

### 6.5.4 Map Vacation Criteria
retreive hotel information, store it for reference, and add popup markers

create a new DF for hotel info

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
0                  Kerman      IR     71.46  30.2832   57.0788
4                Bengkulu      ID     74.53  -3.8004  102.2655
7                  Atuona      PF     77.31  -9.8000 -139.0333
9                   Benoy      TD     70.72   8.9833   16.3199
10              Jamestown      US     74.05  42.0970  -79.2353
11                  Airai      TL     66.52  -8.9266  125.4092
14                  Korla      CN     75.22  41.7597   86.1469
15  Los Llanos De Aridane      ES     67.75  28.6585  -17.9182
16             Georgetown      MY     78.89   5.4112  100.3354
18                 Taonan      CN     75.85  45.3333  122.7833

#### Retrieve Hotels from a Nearby Search
use the Google Places Nearby Search request to retrieve a hotel and add it to the Hotel Name column.

In [28]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    }

In [29]:
# Iterate through the DataFrame (with a for loop to update first hotel in the hotel_df).
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kerman,IR,71.46,30.2832,57.0788,هتل آپارتمان آسام
4,Bengkulu,ID,74.53,-3.8004,102.2655,Grage Hotel Bengkulu
7,Atuona,PF,77.31,-9.8000,-139.0333,Villa Enata
9,Benoy,TD,70.72,8.9833,16.3199,
10,Jamestown,US,74.05,42.0970,-79.2353,Hampton Inn & Suites Jamestown
11,Airai,TL,66.52,-8.9266,125.4092,
14,Korla,CN,75.22,41.7597,86.1469,Gulisitan Hotel
15,Los Llanos De Aridane,ES,67.75,28.6585,-17.9182,Valle Aridane
16,Georgetown,MY,78.89,5.4112,100.3354,Cititel Penang
18,Taonan,CN,75.85,45.3333,122.7833,Makro Hotel

### Create Max temp heatmap from HotelDF
heat map and markers
- add `marker_layer` line to add a marker
- add `info_box` after location in the `marker_layer` to add hotel info to the marker

In [34]:
# HTML code for marker label data
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations
                                 , weights=max_temp
                                 , dissipating=False
                                 , max_intensity=300
                                 , point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))